.row {
    display: flex;
    flex-align: center;
    justify-content: space-around;
}

.nav_top {
    padding: 10px 0;
    background-color: #eeeeee;
    border-bottom: 1px solid black;
}

.align-center {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-align: center;
}

.logo {
    width: 60px;
}

.rounded {
    border-radius: 50%;
}

.cta__red {
    background-color: #bd243b;
    color: white;
}

.cta__outline {
    background-color: white;
}

.rounded__button {
    padding: 10px 15px;
    border-radius: 5px;
}

.search {
    padding: 10px;
    border-radius: 5px;
}

.percentage {
    font-size: 2rem;
    color: #776bf6;
    font-weight: bold;
}

.hero {
    background-color: #b2acfa;
    padding: 50px;
}