<footer>
    <nav class="navbar sticky-bottom navbar-dark bg-dark ">
        <a class="navbar-brand  my-lg-1" href="#">
          <img src="/images/logo.png"  height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <span class="navbar-text">
            Trabajo Práctico Integrador | Digital House Argentina 
        </span>
        <span class="navbar-text">
            Grupo 03 | Losa Franco, Vivas Castillo Matías
        </span>
    </nav>
</footer>