<footer class="cursitos_footer">
    <nav class="row justify-space-between align-flex-start">
        <div class="column">
            <ul>
                <li>Ayuda y soporte</li>
                <li>Contactanos</li>
                <li>Mapa del sitio</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Preguntas Frecuentes</li>
                <li>Política de Privacidad y Cookies</li>
                <li>Sobre Nosotros</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Términos y Condiciones</li>

                <select class="lang_selector" name="idioma" id="idioma">
                    <option value="espanol">Español</option>
                    <option value="ingles">Inglés</option>
                </select>
            </ul>
        </div>
    </nav>

    <div class="row justify-space-between">
        <div class="column">
            <div class="menu_logo">
                <img class="logo" src="/images/logo.png" alt="" srcset="" />
            </div>
        </div>

        <div class="column">
            <p>2020, CURSITOS. INC</p>
        </div>
    </div>
</footer>