<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" height="30" alt="" loading="lazy">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <form class=" navbar-nav mr-auto my-lg-0 mx-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses/create">Publica tu curso <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <a class="nav-link" href="/carrito">Carrito <span class="sr-only">
                        <img src="/images/carrito.png" onclick="location.href='/carrito'" alt="" class="cart" />
                    </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signin">Registrate <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Iniciar sesión<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>