<header>
    <nav class="menu_main row align-center justify-space-around">
        <div class="menu_logo">
            <img class="logo" onclick="location.href='/'" src="/images/logo.png" alt="" srcset="" />

        </div>
        <div class="menu_search hide-in-mobile">
            <input class="search" type="search" name="" id="" placeholder="Búsqueda" />
        </div>
        <div class="hamburger-menu">☰</div>
        <div class="menu_buttons row align-center">
            <div class="search_icon_placeholder"></div>
            <img src="/images/carrito.png" onclick="location.href='/carrito'" alt="" class="cart" />
            <div class="inicio_registro hide-in-mobile">
                <input type="button" class="btn_outline btn_rounded" name="" id="btn_publicaTuCurso" value="Publica tu curso" onclick="location.href='/courses/create'"/>
                <button class="btn_outline btn_rounded" onclick="location.href='/users/login'">Iniciar sesión</button>
                <button class="btn_green btn_rounded" onclick="location.href='/users/signin'">Registrarte</button>
            </div>
        </div>

    </nav>
</header>