body{
    background-color: #1D3643;
    color: white;
}

.btn__outline{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
}

.btn__outline:hover{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: grey;
    color: white;
} 

.btn__principal{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #95CA3E;
    color:black;
}

.btn__principal:hover{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #62822d;
    color:white;
}

.btn__accionCompra{
    width: 100%;
}

.card_presentacion_curso{
    display: block;
    border-radius: 15px;
    min-height: 100hv;
    background-image: linear-gradient(180deg,white,  #1D3643);
    color: black;
}

.card_presentacion_curso .columna .profesor{
    display: flex;
    align-items: center;
}

.card_presentacion_curso .columna .categoria{
    font-style: oblique;
    background-color: #bd243b;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.card_presentacion_curso .columna .precio{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #1d3643af;
    color: white;
    margin: 0%;
    width: 100%;
    font-size: 3em;
    text-align: center;
}


/*--------------- medidas de responsive-----------*/
@media(min-width:320px){

    .seccion_detalle_curso {
        padding: 5%;
    }
    .card_presentacion_curso{
        padding: 2%;
    }
    .card_presentacion_curso .columna{
        width: 100%;
    }
    .card_presentacion_curso .columna .categoria{
        font-size: .8em;
        width: 45%;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;

        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
        margin-left: 10%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .card_presentacion_curso .columna .precio{
        margin-bottom: 5%;
    }
    .columna .text-descripcion{
        margin-top: 5%;
        text-align: justify;
    }
}

@media(min-width:768px){

    .seccion_detalle_curso {
        padding: 5%
    }
    .card_presentacion_curso{
        padding: 2%;
    }
    .card_presentacion_curso .columna{
        width: 100%;
    }
    .card_presentacion_curso .columna .categoria{
        font-size: .8em;
        width: 25%;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;
        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .btn__accionCompra{
        width: 49.59%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%
    }
    .card_presentacion_curso .columna .precio{
        margin-bottom: 2%;
    }
}

@media(min-width:1024px){

    .seccion_detalle_curso {
        padding: 5%
    }
    .card_presentacion_curso{
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
    }
    .card_presentacion_curso .columna{
        width: 50%;
    }
    .card_presentacion_curso .columna .categoria{
        font-size: .8em;
        width: 40%;
    }
    .card_presentacion_curso .columna .titulo{
        font-style: bold;
        font-size: 1.5em;
    }
    .card_presentacion_curso .columna .caracteristicas{
        font-size: 1em;
    }
    .card_presentacion_curso .columna .caracteristicas .item{
        margin-top: 1%;
    }
    .card_presentacion_curso .columna button{
        margin-bottom: 2%;
    }
    .card_presentacion_curso .columna .imagen-curso{
        margin:0%
    }
    .card_presentacion_curso .columna .precio{
        margin-bottom: 2%;
    }
    .btn__accionCompra{
        width: 100%;
    }
    .columna .text-descripcion{
        margin-top: 5%;
        text-align: justify;
        padding-right: 5%;
    }
}