<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registrarse</title>
        <link rel="stylesheet" href="/stylesheets/modern-normalize.css" />
        <link rel="stylesheet" href="/stylesheets/style-Ian.css" />
        <link rel="stylesheet" href="/stylesheets/style-login-registro.css" />
    </head>

    <body>
        <!-- Header -->
        <%- include('partials/navbar') %>
        <!-- /Header -->
        <section class="seccion-login-registro">
            <div class="box">
                <div class="box-cabecera">
                    <button  onclick="location.href='/users/login'" class="btn btn__outline button1">Iniciar sesión</button>
                    <button  onclick="location.href='/users/signin'" class="btn btn__outline button2-active">Registrarte</button>
                </div>
                <div class="box-cuerpo">
                    <p class="bienvenida">Bienvenido! Registrate y tené acceso a todos los cursos que ofrecemos en Cursitos.com</p>
                    <button class="btn__outline button-action btn_google">Inicia sesión con Google</button>
                    <button class="btn__outline button-action btn_facebook">Inicia sesión con Facebook</button>

                    <hr>
                    
                    <input type="text" placeholder="Tu email o nombre de usuario">
                    <input type="password" placeholder="Tu contraseña">
                    <input type="password" placeholder="Repite tu contraseña">

                    <button class="btn__principal button-action">Registrarse</button>
                    <p class="info">¿Ya tenes una cuenta? Iniciá sesion <a href="/login">aquí</a></p>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <%- include('partials/footer') %>

    </body>
</html>
