<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<!-- /Head -->

<body class="bg-dark">
    <!-- Header -->
    <%- include('../partials/navbar') %>
    <!-- /Header -->
        <section class="jumbotron container bg-light col-md-4">
        <form class="container" action="/users/modifyPassword/<%= userLoged.id %>" method="POST">
            <h1 class="lead text-center">Cambia tu contraseña!</h1>
            <hr class="my-4">
            <div class="form-group">
                <input type="password" name="passwordOld" id="passwordOld" class="form-control form-control-sm" placeholder="Tu contraseña actual">
                <hr>
                <input type="password" name="passwordNew" id="passwordNew" class="form-control form-control-sm" placeholder="Tu nueva contraseña">
                <hr>
                <input type="password" name="passwordNewRepeat" id="passwordNewRepeat" class="form-control form-control-sm" placeholder="Repite tu  nueva contraseña">
            </div>
            <hr>
            <div class="row justify-content-center p-2">
                <button type="submit" class="btn btn-success m-1">Cambiar contraseña</button>
                <a href="/" class="btn btn-outline-dark m-1">Cancelar</a>
            </div>
        </form>

    </section>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    </body>
</html>
