<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>
<!-- /Head -->

<body class="bg-dark">
    <!-- Header -->
    <%- include('../partials/navbar') %>
    <!-- /Header -->
    <section class="jumbotron container bg-light col-md-4 text-center">
        <form class="container" id="form" action="/users/signin" method="POST">

            <h1 class="lead text-center">Bienvenido! Registrate y tené acceso <br> a todos los cursos que ofrecemos en Cursitos.com</h1>
            <hr class="my-4">

            <div class="form-group">
                <button class="btn btn-outline-dark form-control">Inicia sesión con Google</button>
            </div>

            <div class="form-group">
                <button class="btn btn-outline-primary form-control">Inicia sesión con Facebook</button>
            </div>
            <% if(typeof errors != 'undefined') { %>
                <ul class="alert alert-danger">
                    <% errors.forEach(error => { %>
                        
                        <li>

                            <%= error.msg %>
                        </li>
                    <% })}; %>
                </ul>
            
            <div class="form-group">
                <hr>
                <div>
                    <input type="text" name="email" id="email" class="formulario form-control form-control-sm" placeholder="Tu email">
                    <div id="feedback-email"></div>
                </div>
                <hr>
                <div>
                    <input type="text" name="name" id="name" class="formulario form-control form-control-sm" placeholder="Tu nombre de usuario">
                    <div id="feedback-name"></div>
                </div>
                <hr>
                <div>
                    <input type="password" name="password" id="password" class="formulario form-control form-control-sm" placeholder="Tu contraseña">
                    <div id="feedback-password"></div>
                </div>
                <hr>
                <div>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" class="formulario form-control form-control-sm" placeholder="Repite tu contraseña">
                    <div id="feedback-passwordRepeat"></div>
                </div>
            </div>

            <hr>
            <div class="row justify-content-center p-2">
                <button type="submit" class="btn btn-success col-md-5 m-1">Registrarse</button>
                <a href="/" class="btn btn-outline-dark col-md-5 m-1">Cancelar</a>
                <p class="lead">¿Ya tenes una cuenta? <br> Iniciá sesion <a href="/users/login">aquí</a></p>
            </div>
        </form>

    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>

    </body>

    <script>
        function noVacio(e) {
            if (e.value) {
                e.className += " is-valid";
                return true
            } else {
                e.className += " is-invalid";
                document.getElementById("feedback-"+e.id).innerText = 'Ingrese un valor';
                document.getElementById("feedback-"+e.id).className = 'invalid-feedback'
                return false
            }
        }
        function passwordIguales(e1,e2) {
            if (e1.value === e2.value) {
                e1.className += " is-valid";
                e2.className += " is-valid";
                return true
            } else {
                e1.className += " is-invalid";
                e2.className += " is-invalid";
                document.getElementById("feedback-passwordRepeat").className = 'invalid-feedback'
                document.getElementById("feedback-passwordRepeat").innerText = 'Las contraseñas deben ser iguales';
                return false
            }
        }
        
        window.addEventListener("load", function(){
            
            let formulario = document.getElementById("form")
            
            let inputs = document.querySelectorAll("input");
            inputs.forEach(e => {
                e.addEventListener("click", function(){
                    this.classList.remove('is-invalid');
                    this.classList.remove('is-valid');
                });
            });
            //Agregamos el evento para atraparlo
            formulario.addEventListener("submit", function(event){
            event.preventDefault();
            let email = document.getElementById("email")
            let name = document.getElementById("name")
            let password = document.getElementById("password")
            let passwordRepeat = document.getElementById("passwordRepeat")

            let validacionEmail = noVacio(email);
            let validacionName = noVacio(name);
            let validacionPassword = noVacio(password) && noVacio(passwordRepeat) && passwordIguales(password, passwordRepeat)

            if (validacionEmail && validacionName && validacionPassword) {
                this.submit();
            }
            });
        });
    </script>
</html>
